@import './variables.scss';

.gallery-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em 0;

	@media only screen and (min-width: 600px) {

		width: 90vw;
		display: grid;
		grid-template-columns: min-content auto;
		grid-auto-rows: auto;
		row-gap: 1.5em;
		column-gap: 1.5em;

		>* {
			justify-self: center;
			align-self: start;
		}
	}
}

.history-view {
	margin: $space;
}

.hamster-box,
.hamster-btn,
.history-box {
	width: 20em;
	color: rgb(19, 14, 29);
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: $space 0;

	.hamster-icon {
		margin: 2em 0;
		width: 10em;
	}

	&:hover {
		cursor: pointer;
	}

}

.hamster-box {
	@media only screen and (min-width: 600px) {
		flex-direction: row;
		width: auto;
	}
}

.hamster-card {
	height: 384px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hamster-btn {
	height: 20em;
	border: 2px solid white;
	border-radius: $corners+2px;
	background-color: $starwars_dark;
	text-decoration: none;

	&:hover {
		border: 2px solid $starwars_yellow;
	}
}

.hamster-img {
	height: 20em;
	width: 20em;
	align-self: center;
	border-radius: $corners;
	background-color: $starwars_dark;

	img {
		border-radius: $corners $corners 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 100% 0;
	}
}

.history-box {
	background-color: $starwars_dark;
}

.hamster-info,
.add-new {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	border-radius: 0 0 $corners $corners;

	h2 {
		margin: 0 1em;
	}
}

.add-new {
	h3 {
		text-decoration: none;
	}

	&:hover {
		background-color: $starwars_yellow;
	}
}

.hidden-info {
	height: 384px;
	display: flex;
	margin: 0;
}

.extra-info, .defeated-hamsters {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 0 0 $corners $corners;
	margin-top: -0.5em;
	padding: $space;

	.show-more {
		display: flex;
		justify-content: center;
		cursor: pointer;
	}

	@media only screen and (min-width: 600px) {
		width: 10em;
		border-radius: 0 $corners $corners 0;
		margin-top: 0;
		margin-left: -0.5em;

		p {
			margin: $space / 1.5;
		}

		.delete {
			margin-top: 2em;
		}
	}
}

.defeated-hamsters {
	background-color: $starwars_yellow;
	overflow: scroll;

	.losers {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;

		li::before {
			content: "\1F439";
		}
		li{
			margin: $space /1.5 0;
			list-style: none;
		}
	}
}

.list-of-5 {

	h2 {
		text-align: center;
		font-size: 48px;
		margin: $space;
	}
}


@media only screen and (min-width: 600px) {
	.stat-view {
		width: 100vw;
		display: flex;
		overflow-x: scroll;

		.hamster-box {
			margin: $space;
		}
	}
}