nav {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding: 1em;
	background-color: black;
	height: 15vh;
	width: 100vw;

	.nav-links {
		flex: 2;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}
